@charset "UTF-8";

* {
	box-sizing: border-box; 
}

.header, .footer {
	background-color: grey; 
	color: white; 
	padding: 15px; 
}

.column {
	float: left;
	padding: 5px;
}

.clearfix::after {
	
	
	content: "";
	clear: both;
	display: table;
	
}

.menu {
	width: 25%;
}

.content {
	width: 75%;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu li {
	padding: 8px;
	margin-button: 8px; 
	background-color: red; 
	color: green; 
}
.menu li:hover {
	background-color: blue; 
}