@charset "UTF-8";

h1 {
	font-size: 10vw;
	color: red;
	font-style: oblique;
}

p {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 3vw;
}

body {
	font-size: 100%;
}

p.normal {
	font-variant: normal;
}

p.small {
	font-variant: small-caps;
}