@charset "UTF-8";
ul {
	list-style-type: none; 
	margin: 0;
	padding: 0; 
	overflow: hidden; 
	background-color: gray; 
}
li {
	float: left; 
}
li a {
	dislpay: iline-block; 
	color: white; 
	text-align: center; 
	padding: 14px 16px; 
}
a:visited {
	background-color: blue; 
}
li a:hover {
	background-color:green; 
	
}
a.active {
	background-color: red; 
}
